<ion-header [translucent]="true">
  <ion-toolbar style="--background: #128c7e" lines="none">
    <div
      style="
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        grid-template-columns: auto auto auto auto auto auto;
        color: white;
      "
    >
      <ion-icon
        name="arrow-back-sharp"
        style="font-size: x-large"
        (click)="backpage()"
      ></ion-icon>
      <ion-avatar style="width: 32px; height: 32px; margin-left: -1rem">
        <img
          alt="Silhouette of a person's head"
          [src]="imageUrl"
          (click)="openImageModal()"
        />
        />
      </ion-avatar>

      <ion-input
        id="yup"
        [(ngModel)]="name"
        (click)="openList()"
        style="
          --background: transparent;
          font-weight: 600;
          font-size: large;
          width: 44%;
          margin-left: -1rem;
        "
      ></ion-input>

      <ion-popover trigger="yup">
        <ng-template>
          <ion-list *ngIf="isListOpen">
            <ion-item
              *ngFor="let item of itemList"
              (click)="selectItem(item)"
            >
              {{ item.name }}
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>

      <ion-icon
        name="videocam"
        style="font-size: 1.5rem; margin-top: 0.2rem"
      ></ion-icon>
      <ion-icon
        name="call"
        style="font-size: 1.5rem; margin-top: 0.2rem"
      ></ion-icon>
      <ion-icon
        id="hover-trigger"
        name="options"
        style="font-size: 1.5rem; margin-top: 0.2rem"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div #messageContainer class="message-container">
    <!-- Loop through messages and display them -->

    <div *ngFor="let item of messages">
      <!-- Messages from 'other' -->
      <ion-item
        *ngIf="item.text.length > 0 && item.sender == 'other'"
        style="
          float: left;
          clear: both;
          word-wrap: break-word;
          overflow-wrap: break-word;
          word-break: break-word;
          width: fit-content;
          border-radius: 1rem;
          margin: 0.4rem;
          border-top-left-radius: 0rem;
          font-size: larger;
          font-family: Nunito-Sans, sans-serif;
          font-style: normal;
          background-color: white;
          color: black;
        "
      >
        <div style="text-align: right">
          <span>{{ item.text }}</span>
          <span style="font-size: small; color: gray; margin-top: 0.5rem">
            {{ item.time | date: 'shortTime' }}
          </span>
         
        </div>
      </ion-item>

      <!-- Messages from 'me' -->
      <ion-item
        *ngIf="item.text.length > 0 && item.sender == 'me'"
        style="
          clear: both;
          word-wrap: break-word;
          float: right;
          overflow-wrap: break-word;
          word-break: break-word;
          width: fit-content;
          border-radius: 1rem;
          margin: 0.4rem;
          border-top-right-radius: 0rem;
          font-size: larger;
          font-family: Nunito-Sans, sans-serif;
          font-style: normal;
          --background: #dcf8c6;
        "
      >
        <div style="text-align: right">
          <span>{{ item.text }}</span>
          <span style="font-size: small; color: gray; margin-top: 0.5rem">
            {{ item.time | date: 'shortTime' }}
          </span>
          <ion-icon
            style="margin-top: 0.5rem"
            color="primary"
            name="checkmark-done-outline"
          ></ion-icon>
        </div>
      </ion-item>
    </div>
  </div>

  <!-- Floating 'Go to Bottom' Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button
      *ngIf="showScrollToBottom"
      (click)="scrollToBottom()"
      size="small"
      color="primary"
    >
      <ion-icon name="arrow-down-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <div style="display: flex; flex-direction: row; margin: 0.5rem">
    <ion-textarea
      [(ngModel)]="textfromuser"
      placeholder="Type a message"
      auto-grow="true"
      autofocus="true"
      style="
        resize: none;
        max-height: 200px;
        overflow-y: auto;
        border-radius: 20px;
      "
      (keyup.enter)="sendtext()"
    >
    </ion-textarea>

    <ion-button
      style="
        --background: #128c7e;
        --border-radius: 50%;
        margin-left: 10px;
        width:2.5rem;
        height: fit-content;
      "
      (click)="sendtext()"
    >
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
